# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import') 
> **Important note:** Before submission make sure that you **didn't add or delete any notebook cells**. Otherwise your work may not be accepted by the validator!

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string

<div style="text-align: right">1 point</div>

In [30]:
def str_to_dict(some_str):  
    """
    :param some_str: str
    :return: dict
    """
    # YOUR CODE HERE
    d = dict.fromkeys(some_str, 0)
    for c in some_str: 
        d[c] += 1
    return d

In [31]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted')

,<div style="text-align: right">1 point

In [52]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    # YOUR CODE HERE
    lowest=min(numbers[0], numbers[1])
    lowest2 = max(numbers[0], numbers[1])
    for item in numbers:
        if item < lowest:
            lowest2 = lowest
            lowest = item
        elif lowest2 > item and item > lowest:
            lowest2 = item
    return lowest2

In [53]:
print('Sec_smallest: ', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest:  -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n

<div style="text-align: right">1 point</div>

In [62]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    # YOUR CODE HERE
    lst = []
    k = 0
    for i in range(2, n+1):
        for j in range(2, i):
            if i % j == 0:
                k = k + 1
        if k == 0:
            lst.append(i)
        else:
            k = 0
    return lst

In [63]:
print('Prime numbers: ', prime_nums(30))

Prime numbers:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

#### 4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements

<div style="text-align: right">1 point</div>

In [64]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    # YOUR CODE HERE
    maxi = 0
    max_val = 0
  
    # traversal in the lists 
    for i, x in enumerate(tuples): 
        sum = 0 
        # traversal in tuples in list 
        for y in x: 
            sum += y
        if sum > max_val:
            max_val = sum
            maxi = i 
          
    return maxi

In [65]:
print('Index: ', max_sum_index([(10, 20, 1, 2), (51, 32), (30, 25, 5)]))
print('Index: ', max_sum_index([(47, 22, 11), (23, 17)]))

Index:  1
Index:  0

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>
  <tr>
    <td>Index:</td>
    <td> 0 </td> 
  </tr>
</table>

#### 5. Implement function gcd(x, y), which returns the greatest common divisor of n and m
<div style="text-align: right">1 point</div>

In [66]:
def gcd(x, y):   
    '''
    :params m,n: int
    :return: int
    '''
    # YOUR CODE HERE
    while y != 0:
        (x, y) = (y, x % y)
    return x

In [67]:
print('GCD: ', gcd(160, 180))

GCD:  20

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list
<div style="text-align: right">1 point</div>

In [70]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    # YOUR CODE HERE
    total = 0
    for element in data_list:
        if type(element) == type([]):
            total = total + recursive_list_sum(element)
        else:
            total = total + element

    return total

In [71]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3, 4], [5, 6], [7, 8, 9, [10]]]))

The sum of a list is  55

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 55</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value
<div style="text-align: right">1 point</div>

In [49]:
def debug(func):
    """
    :param func: function
    """
    # YOUR CODE HERE
    def wrapper(*args, **kwargs):
        output = func(*args, **kwargs)
        print(f' {func.__name__}{args} was called and returned {output}')
        return output
    return wrapper

In [50]:
@debug
def add(a, b):
    return a + b
    
@debug
def sub(a, b=100):
    return a - b

print(add(3, 4))
print(sub(3))
print(sub(3,4))

 add(3, 4) was called and returned 7
7
 sub(3,) was called and returned -97
-97
 sub(3, 4) was called and returned -1
-1

Expected Output:
<table>
  <tr>
    <td>add(3, 4) was called and returned 7</td>
  </tr>
  <tr>
    <td>sub(3) was called and returned -97</td>
  </tr>
  <tr>
    <td>sub(3, 4) was called and returned -1</td>
  <tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals

<div style="text-align: right">2 points</div>

In [138]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
    def to_roman(self, num):    
        """
        :param self:
        :param n: int
        :return: str    
        """
        # YOUR CODE HERE
        roman_num = ''
        i = 0
        while  num > 0:
            for _ in range(num // self.val[i]):
                roman_num += self.syb[i]
                num -= self.val[i]
            i += 1
        return roman_num

In [139]:
print('Converted: ', Conv().to_roman(44))

Converted:  XLIV

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element. Order of elements doesn't matter
<div style="text-align: right">3 points</div>

In [43]:
class CombinationsList:
    @staticmethod
    def get_combinations(my_list):
        """
        :param self:
        :param my_list: list
        :return: list[list]
        """
#         YOUR CODE HERE
        l = []
        l.append([])
        for i in range(len(my_list)):
            l.append([my_list[i]])
            for j in range(i+1, len(my_list)):
                l.append([my_list[i], my_list[j]])
                for k in range(j+1, len(my_list)):
                    l.append([my_list[i], my_list[j], my_list[k]])
                    for m in range(k+1, len(my_list)):
                        l.append([my_list[i], my_list[j], my_list[k], my_list[m]])
        return l

In [44]:
print('Combinations: ', CombinationsList().get_combinations([1, 2, 'a', 5]))

Combinations:  [[], [1], [1, 2], [1, 2, 'a'], [1, 2, 'a', 5], [1, 2, 5], [1, 'a'], [1, 'a', 5], [1, 5], [2], [2, 'a'], [2, 'a', 5], [2, 5], ['a'], ['a', 5], [5]]

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [5], [1, 2], [1, 'a'], [1, 5], [2, 'a'], [2, 5], ['a', 5], [1, 2, 'a'], [1, 2, 5], [1, 'a', 5], [2, 'a', 5], [1, 2, 'a', 5]]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [169]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name
        self.__mission = mission

    def getMission(self): 
        """
        : return str or list
        """
        # YOUR CODE HERE
        return self.__mission

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        # YOUR CODE HERE
        if type(mission) == str:
            self.__mission = [self.__mission, mission]
        elif type(mission) in [list, tuple]:
                self.__mission.extend(mission)

    def getName(self):
        """
        : return str
        """
        # YOUR CODE HERE
        return self.__name

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        # YOUR CODE HERE
        super().__init__(name, mission)  
        self.__model = model

    def getDescription(self):
        return f'Name: {self.getName()}\nModel: {self.__model}\nMissions: {str(self.getMission())}'

In [170]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Name: Crew Dragon
Model: V2
Missions: Dragon 2 pad abort test

Name: Crew Dragon
Model: V2
Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

##### Python lab Done!

##### Make sure that you didn't add or delete any notebook cells. Otherwise your work may not be accepted by the validator!